$header-background: rgb(11, 175, 193);
$body-background: rgb(8, 224, 91);
$footer-background: rgb(234, 169, 39);


.header {
  background-color: $header-background;
}

.body {
  background-color: $body-background;
}

.footer {
  background-color: $footer-background;
}
